header, section, footer, aside, nav, main, article, figure { 
    display: block; 
}

body {
    /* color: rgb(112, 32, 32); */
    /* background-color: rgb(49, 5, 5); */
    /* background-image: url("../assets/images/dark-wood1.jpg"); */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}